
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;

}

.container{
    width:700px;
    margin: 55px auto;
    border:2px solid #ddd;
    border-radius: 10px;
    align-items: center;
}

h2{
    margin-top:40px;
    text-align: center;
    font-size: 22px;

}

.content{
    display: flex;
    align-items:center;
    gap:10px;
    text-align: left;
    margin: 20px;
}

.content p{
    line-height: 1.6;
    font-size: 15px;
    color:#333;
}

.content img{
    width:40%;
    border-radius: 5px;
}

.meta{
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 15px;
    margin-top:  15px;
    padding-top:  10px;
    padding-bottom:  10px;
    color:#333;
}