.search-container{
    display: flex;
    align-items: center;
    width: 50%;
}

.search-input{
    flex: 2;
    padding: 8px;
    padding-left: 17px;
    border-radius: 8px 0px 0px 8px;
    color: #fff;
}

.search-input:focus{
    outline: none;
} 

.search-button{
    flex: 1;
    padding: 8px;
    border-radius: 0px 8px 8px 0px;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-weight: 400;
}